.dropdown-toggle::after {
    display: none;;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task label.checked {
    text-decoration: line-through;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters span.active {
    color: #3C87FF;
}

.filters span {
    margin-right: 5px;
    font-size: 15px;
    column-rule-color: #444444;
    cursor: pointer;
}